
.movie{
    width: 30%;
    background-color: white;
    margin-bottom: 10%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height : 40%;
    color:darkgrey;
    font-size: 0.01em;
    cursor: pointer;
}

.movie .title{
    color: black;
}

.movie .genres{
    max-height: 30%;
    overflow-y: auto;
}

.movie .source{
    color: black;
}

.movie img{
    position: relative;
    top: -10%;
    width:20%;
    height: 50%;
    margin-right: 10%;
    box-shadow: 0em 0.5em 0.5em 0em darkgrey;
}
.movie .data{
    position: static;
}

.movie .summary{
    height:30%;
    overflow-y: auto;
    -webkit-user-select: none;
}